<launch>
  <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>

  <group ns="t1">
    <node pkg="turtlesim" type="turtlesim_node" name="sim">
      <remap from="turtle1/cmd_vel" to="/turtle1/cmd_vel"/>
    </node>
  </group>

  <group ns="t2">
    <node pkg="turtlesim" type="turtlesim_node" name="sim">
      <remap from="turtle1/cmd_vel" to="/turtle1/cmd_vel"/>
    </node>
  </group>
</launch>
