<launch>
    <group ns="namespace-1">    
        <node pkg="study" type="publisher.py" name="publisher_1">
            <remap from="/robot_status" to="/robot_status_1"/>
        </node>

        <node pkg="study" type="subscriber.py" name="subscriber_1">
            <remap from="/robot_status" to="/robot_status_1"/>
        </node>
    </group>

    <group ns="namespace-2">
        <node pkg="study" type="publisher.py" name="publisher_2">
            <remap from="/robot_status" to="/robot_status_2"/>
        </node>

        <node pkg="study" type="subscriber.py" name="subscriber_2">
            <remap from="/robot_status" to="/robot_status_2"/>
        </node>
    </group>

    <node pkg="rqt_graph" type="rqt_graph" name="graph"></node>
</launch>